.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
}

.logout_button {
  min-width: 100px;
  padding: 10px 20px;
  margin-top: 10px;
  background: white;
  color: black;
}

.username {
  color: yellowgreen;
}
